@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

:root {
  --blue: rgb(93, 174, 199);;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  letter-spacing: 1px;
  background-color: #282c34;
  color: #999
}


.header {
  background-color: #282c34;
  min-height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(93, 174, 199);
  width: 100%;
}

.search-input {
  margin: .5em;
  border-radius: 100px;
  outline: none;
  border: 1px solid #444;
  height: 20px;
  max-width: 65vw;
  padding: .6em;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(93, 174, 199);
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form button {
  height: 5em;
  width: 5em;
  border-radius: 48%;
  border: none;
  font-weight: bolder;
  background-color: rgb(93, 174, 199);
}
.form button:hover {
  background-color: rgba(93, 174, 199, 0.664); ;
}

.form button:active {
  background-color: rgba(93, 174, 199, 0.339);
  transform: translateY(1px);
}
.rating {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: x-large;

}