.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.header {
  background-color: #282c34;
  min-height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(93, 174, 199);
  width: 100%;
}

.search-input {
  margin: .5em;
  border-radius: 100px;
  outline: none;
  border: 1px solid #444;
  min-height: 1em;
  padding: .4em;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(93, 174, 199);
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form button {
  height: 5em;
  width: 5em;
  border-radius: 48%;
  border: none;
  background-color: rgb(93, 174, 199);
}